.profile{
margin-top: 10px;
border: black;
display: flex;
justify-content: center; }
.paragraph{
    margin-top: 60px;
}
.profilePage{
    background-color:whitesmoke;
    border-color: black;
    height: 680px;
    width: 370px;
    border-radius: 20px;
    justify-content:center ;
    padding: 10px;
}
.details{
    position: absolute;
}

.name-email{
position: relative;
left: 60px;
margin-left: 20px;
line-height: 150%;
font-size: 15px;
    

}
.settings{
    font-size: 30px;
    margin-bottom: 20px;
}